{% extends 'base.html.twig' %}

{% block title %}Mes commandes - La Boutique Française{% endblock %}

{% block content %}
    <h1>Mes commandes</h1>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes.<br/>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    {% if orders|length == 0 %}
        <p class="text-center">
            Vous n'avez pas encore passé de commande sur la Boutique Française.
        </p>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Référence</th>
                <th scope="col">Passée le</th>
                <th scope="col">Produit(s)</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                {{ dump(order) }}
                <tr>
                    <td>{{ order.createAt|date('d/m/Y') }}</td>
                    <td>{{ order.reference }}</td>
                    <td>{{ order.orderDetails|length }}</td>
                    <td>--</td>
                    <td>Voir ma commande</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% endif %}
{% endblock %}